# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = David Parsons
email = david.parsons@rutgers.edu
[credential]
	helper = cache --timeout=36000
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[core]
	editor = atom --wait
